.rvm--parent {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    .nav-list {
        margin-top: 4px;
    }
    .menu-icon {
        padding-right: 16px;
    }
    .rvm--has-sub {
        .nav {
            height: 0px;
            visibility: hidden;
            padding-left: 20px;
            &.in {
                height: auto;
                visibility: visible;
            }
        }
        .tree-node-leaf {
            padding: 4px 0px;
            display: flex;
            flex-direction: row;
            a {
                flex: 1;
            }
        }
    }
    a {
        text-decoration: none;
        width: 100%;
    }
    .tree-node-leaf {
        padding: 4px 0px;
    }
    .menu-icon:before {
        padding-right: 8px;
    }
}
